@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<div>

    <partial name="PartialViews/DeleteDetailsDepartmentPartialView" />
    <a class="btn btn-secondary" asp-route-id="@Model.Id" asp-action="Edit">Edit</a> | 
    <a class="btn btn-light" asp-action="Index">Back To List</a>

</div>
