@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All"></div>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="Register" method="post">
            <input class="text" asp-for="FName" placeholder="Enter Your First Name" required="">
            <input class="text" asp-for="LName" placeholder="Enter Your Last Name" required="">
            <input class="text email" asp-for="Email" placeholder="Enter Your Email" required="">
            <input class="text" asp-for="Password" placeholder="Enter Your Password" required="">
            <input class="text" asp-for="ConfirmPassword" placeholder="Confirm Your Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input asp-for="IsAgree" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>
        <p>Already have an Account? <a asp-action="Login"> Login Now!</a></p>
    </div>
</div>
@section validationScriptSection{
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />
}

